{% extends "blogapp/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fenvisionitagency.com%2Fuploads%2F2016%2F06%2Fblog-header-copy-writing-evolution-750x350.jpg&f=1&nofb=1">
<br><hr>
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About Me</h4>
        <p class="mb-0">
            Hello there peeps!!
        Introducing to you my first very own site!!
        This will be the perk for those who love blooging and want to explore more in this field..
        Hope you all will enjoy this..
        Keep Learning is only thing which has kept me motivated..Hoping to keep bringing more this kind of stuff to all of my viewers..
            <br><hr>
        Made with love--
                            Kritika Parmar
        </p>
      </div>

{% endblock content %}